{% extends "testmonkey/base.html" %}

{% block extrahead %}
<script type="text/javascript">

var D;

$(function() {

  function passed($el) {
    $el.css("background", "green");
  }
  
  function failed($el) {
    $el.css("background", "red");
  }

  // Toggle showing the tests.
  $("div#content-main th").click(function() {
    var $this = $(this);
    if ($this.hasClass("closed")) {
      $(this).parent().nextAll().show();
    } else {
      $(this).parent().nextAll().hide();
    }
    $this.toggleClass("closed");
  });
  
    // Clicking run hits the tests.
    $run = $("div#content-main td.run");
    $run.click(function() {
    // @@@ Don't run other tests until this one is done.
    //$run.removeClass("run");  
    
        var $self = $(this),
            testLabel = this.id;

        $.post(testLabel + "/", "", function(failures) {
            // Anything that didn't fail passed...
            failures = eval(failures); // @@@ should b json
      
            if (!failures.length) {
                passed($self);

            // Mark each failed test.
            } else {
                for (var i=0; i<failures.length; i++) {
                    // Watch out for "." in ids.
                    failed($(document.getElementById(failures[i][0])));
                }
            }


        D = eval(failures);


        }, "json");
  
  });
});
</script>
{% endblock %}

{% block content %}

<body class="dashboard">

  <div id="header"></div>
  <div id="container">
    <div id="content" class="colMS">
      <h1>Test Monkey</h1>
      <div id="content-main">
        {% for app_test in app_tests %}<div class="module">
          <table summary="">
            <caption><a href="">{{ app_test }}</a></caption>
            <tbody>
              <tr>
                <th class="">{{ app_test.get_tests|length }} test{{ app_test.get_tests|pluralize }}</th>
                <td class="run" id="{{ app_test.label }}">RUN</td>
              </tr>
              {% for test in app_test %}<tr style="">
                <td>{{ test }}</td>
                <td id="{{ test.label }}" class="run">RUN</td>
              </tr>
              <!--{% if test.doc %}<tr style="">
                <td colspan="2">{{ test.doc }}</td>
              {% endif %}-->{% endfor %}</tr>
            </tbody>
          </table>
        </div><!-- /.module -->{% endfor %}
      </div><!-- #content-main -->
    </div><!-- #content -->
  <div><!-- #container -->
  

  
</body>


{% endblock %}